.root {
  background-color: var(--colors-background);
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  min-height: calc(100% - var(--height-title));
  

  width: 100%;
  max-width: 800px;
  padding: 1.3rem 2rem;
  margin: 0 auto;
}
