.form {
  font-size: 1.3rem;

  color: var(--colors-primary-black);
}

.nickname {
  margin: 3rem 0;

  -webkit-box-shadow: 2px 2px 0px 0px var(--colors-primary-gray);
  -moz-box-shadow: 2px 2px 0px 0px var(--colors-primary-gray);
  box-shadow: 2px 2px 0px 0px var(--colors-primary-gray);
}

.nickname input {
  font-size: 1.6rem;
  color: var(--colors-primary-black);

  transition: all 0.2s ease-in;
}

.nickname input:focus {
  -webkit-box-shadow: 2px 2px 0px 0px var(--colors-primary-green);
  -moz-box-shadow: 2px 2px 0px 0px var(--colors-primary-green);
  box-shadow: 2px 2px 0px 0px var(--colors-primary-green);
}

.submit {
  font-size: 1.8rem;
  padding: 1rem 0;
  letter-spacing: 0.3rem;

  transition: all 0.2s ease-in;
}

.valid {
  color: var(--colors-primary-white);
  background-color: var(--colors-primary-green);
}

.valid:hover {
  background-color: var(--colors-primary-green-2);
}

.invalid {
  color: var(--colors-primary-gray-2);
  background-color: var(--colors-primary-gray);

  cursor: not-allowed;
}
