.input__wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #e5e6ea;

  border-radius: 0.5rem;
}

.input__field {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  padding: 1rem 1.3rem;
}

.input__field:focus {
  outline: none;
}

.send-message-row {
  width: 100%;

  margin-top: 2rem;

  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: 1rem;
  gap: 1rem;
}

.send-message-row__user {
  grid-column: span 3 / span 3;
}

.send-message-row__message {
  grid-column: span 6 / span 6;
}

.send-message-row__button {
  grid-column: span 3 / span 3;
}
