body {
  margin: 0;
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

:root {
  --height-title-footer: 19.4rem;
  --height-title: 7.5rem;
  
  --colors-primary-green: #359271;
  --colors-primary-green-2: #2b775c;
  --colors-primary-gray: #a5b0bd7a;
  --colors-primary-gray-2: #696c6f;
  --colors-primary-white: #e0e0e0;
  --colors-primary-black: #1b1b1b;
  --colors-primary-red: #c50000;
  --colors-background: #202c3d;
  --colors-backdrop: rgba(0, 0, 0, 0.35);
}
