@keyframes shinkAndBack {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.root {
  width: 100%;

  margin: 2rem 0 1.5rem;

  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-gap: 1rem;
  gap: 1rem;

  padding: 0.75rem;

  -webkit-box-shadow: 2px 2px 0px 0px var(--colors-primary-green);
  -moz-box-shadow: 2px 2px 0px 0px var(--colors-primary-green);
  box-shadow: 2px 2px 0px 0px var(--colors-primary-green);
}

.message {
  grid-column: span 5 / span 5;
}

.message input {
  font-size: 1.75rem;
  color: var(--colors-primary-white);
}

.send_button {
  grid-column: span 1 / span 1;
}

.animated {
  animation: shinkAndBack 0.4s ease-in;
}
