.wrapper {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;

  width: 100%;
}

.flex_end {
  justify-content: flex-end;
}

.flex_start {
  justify-content: flex-start;
}

.author {
  height: 4rem;
  width: 4rem;
  margin-right: 1rem;
  padding-top: 0.6rem;

  border-radius: 50%;
  border: 2px solid black;

  text-align: center;
  font-size: 1.5rem;

  background-color: #1f1f1f;
}

.content {
  padding: 1rem;
  max-width: 60%;

  font-size: 2rem;
  color: var(--colors-primary-white);
}

.mine {
  background-color: var(--colors-primary-green);
  color: white;

  position: relative;

  box-shadow: 3px 3px 0px 0px var(--colors-backdrop);
}

.mine:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-width: 12px 10px 0 0;
  border-color: var(--colors-primary-green) transparent transparent transparent;
  top: 0;
  right: -10px;
}

.not_mine {
  background-color: var(--colors-primary-gray);
  color: black;

  position: relative;

  box-shadow: 3px 3px 0px 0px var(--colors-backdrop);
}

.not_mine:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-width: 0 12px 10px 0;
  border-color: transparent var(--colors-primary-gray) transparent transparent;
  top: 0;
  left: -12px;
}
