.wrapper {
  min-height: calc(100vh - var(--height-title-footer));
  max-height: calc(100vh - var(--height-title-footer));
  overflow-y: hidden;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.container {
  overflow: auto;
}
